<div qv-extension style="height: 100%; position: relative; overflow: auto;" class="ng-scope">
	
	
	<div class="frame lui-bg-default">
	  <div class="lui-buttongroup">
		  <button class="lui-button" ng-repeat="item in info track by $index" ng-click="showRows(item.rows)">
			  {{item.tab}}
		  </button>
	  </div>
	</div>
	<div class="frame lui-bg-default" >
  	<div id="scriptInfo"  style="white-space:pre;"></div>
    
  </div>
	
	
	
</div>

<!--
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>


-->